.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust opacity as needed */
    z-index: 1;
}

.hero {
    background-image: url("../images/job-search-by-firmbee-on-unsplash.jpg");
}

[x-cloak] {
    display: none !important;
}

#map {
    height: 400px;
    width: 100%;
    z-index: 1;
}

#job-application-modal {
    position: relative;
    z-index: 2;
}
